@{
    ViewData["Title"] = "ABOUT";
}
@*HTML for About page - Home/About - Giới thiệu*@

@*Import*@
<link href="~/css/about.css" rel="stylesheet" />
@*---------------------------------------------------------*@

<div class="about-section">
    <div class="about-group">
        @*About Header*@
        <div class="about-content-right">

        </div>
        
            @*<img class="about-banner" src="~/image/about-banner.jpg" alt="About banner" /> *@
        <div class="about-content-left">
            <p class="about-content-item item-header">
                Tận hưởng chuyển đi của bạn cùng Viettour
            </p>
            <div class="content">

            </div>

        </div>

    
    </div>
    

</div>
