@{
    ViewBag.Title = "Giới thiệu";
}
@*HTML for About page - Home/About - Giới thiệu*@


@*Import*@
<link href="~/css/about.css" rel="stylesheet" />
<link href="~/font/fontawesome-free-6.2.0-web/css/all.css" rel="stylesheet" />
<link href="~/font/fontawesome-free-6.2.0-web/css/all.min.css" rel="stylesheet" />
@*---------------------------------------------------------*@
<body>
    <div class="about-section">
        <div class="container about-group">
            @*Begin: Slogan Header*@
            <div class="welcome-header">
                <div class="content-header">
                    <h1 class="text-blue fw-bold welcome-heading">TẬN HƯỞNG CHUYẾN ĐI CỦA BẠN CÙNG VIETTOUR</h1>
                    <p class="text-align-justify short-welcome-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Cras quis blandit odio. Pellentesque mattis eleifend metus quis ullamcorper. Integer
                        in mauris nec nibh malesuada ultrices ac et velit.
                    </p>
                </div>
                <div class="image-header">
                    <img alt="image" src="/image/image-header.jpg" class="above-image">
                    <img alt="image" src="/image/image-header.jpg" class="below-image">
                </div>
            </div>
            @*End: Slogan Header*@

            @*Begin: Reason for choosing Viettour*@
            <div class="reason-container">
                <div class="fw-bold fs-40 text-align-center title-heading">VÌ SAO BẠN NÊN CHỌN VIETTOUR?</div>
                <div class="fw-bold reason-list">
                    <div class="reason-1">
                        <p class="fw-bold text-align-center reason-title">Trải Nghiệm Độc Đáo</p>
                        <p class="text-align-justify reason-content">
                            Chúng tôi hiểu rằng bạn là duy nhất và chúng tôi cố gắng hết sức để giúp bạn có hành trình độc đáo.
                        </p>
                    </div>
                    <div class="reason-2">
                        <p class="fw-bold text-align-center reason-title">Giao diện thân thiện</p>
                        <p class="text-align-justify reason-content">
                            Mang lại cho khách hàng trải nghiệm thật dễ dàng khi sử dụng website Viettour.
                        </p>
                    </div>
                    <div class="reason-3">
                        <p class="fw-bold text-align-center reason-title">Chăm sóc khách hàng 24/7</p>
                        <p class="text-align-justify reason-content">
                            Luôn lắng nghe và giải đáp những thắc mắc của khách hàng
                        </p>
                    </div>
                </div>
            </div>
            @*End: Reason for choosing Viettour*@

            @*Begin: Mission of Viettour*@
            <div class="mission-container">
                <div class="content">
                    <div class="fw-bold fs-40 title-heading">SỨ MỆNH</div>
                    <p class="text-align-justify mission-content">
                        Mang đến những trải nghiệm tốt nhất cho khách hàng trong mỗi hành trình đồng hành cùng Viettour.
                        Với chúng tôi, du lịch không chỉ để tận hưởng mà còn là hành trình sẻ chia, ghi lại những dấu ấn khác biệt 
                        và là sự thăng hoa trong từng cung bậc cảm xúc. 
                    </p>
                </div>
                <img alt="image" src="/image/compass.png" class="illustration">
            </div>
            @*End: Mission of Viettour*@

            @*Begin: Vision of Viettour*@
            <div class="vision-container">
                <img alt="image" src="/image/telescope.png" class="illustration">
                <div class="content">
                    <div class="fw-bold fs-40 title-heading">TẦM NHÌN</div>
                    <p class="text-align-justify vision-content">
                        Là công ty lữ hành chuyên về phát triển tour du lịch tại Việt Nam, chúng tôi luôn không ngừng nỗ lực nâng cấp và phát triển dịch vụ. 
                        Viettour hướng đến trở thành một trong những tập đoàn lữ hành hàng đầu Việt Nam, chúng tôi đã và đang hiện thực hóa những mục tiêu chiến lược của mình.
                    </p>
                </div>
            </div>
            @*End: Vision of Viettour*@
        </div>
    </div>
</body>

