@model HomeViewModel

@{
    ViewBag.Title = "Trang chủ";
}
@*HTML for Home Page - Home/Index - Trang chủ*@

@*Import *@
<link href="~/css/index.css" rel="stylesheet" />
@*---------------------------------------------------------*@

@*------Begin banner--------*@
<img class="banner-image" src="./image/banner.png" alt="" />
<div class="banner-content">
    <h1 class="content-1">VIETTOUR</h1>
    <h1 class="content-2">VI VU CHÂN TRỜI VIỆT</h1>
</div>
@*-------End banner----------*@

@*---------Begin Place-search--------*@
<div class="place-search">
    <div class="btn-question">
        <a style="text-decoration: none" href="#" class="button-question">Bạn muốn đi đâu?</a>
    </div>
    <div class="box-rectangle">
        <div class="rectangle"></div>
        <input class="input-box" type="text" size="75" value="" placeholder="Nhập thành phố, địa điểm du lịch" />
        <div class="rectangle box-2"></div>
        <a href="#" class="find-button">Tìm kiếm</a>
        <i class="fa-solid fa-location-dot"></i>
    </div>
</div>
@*----------End Place-search-------*@

@*----Content of HOT Places -----*@
<div class="mid-content">
    <p class="mid-content-1">Địa điểm HOT</p>
    <p class="mid-content-2">Hãy cùng khám phá!</p>
</div>
@*---End---*@

@*--------Begin Tour------*@

<div class="tour-section">
    <div class="content-section">
        <!--HOT Places-->
        <div class="row places-list">
            <!---------------------------------------------------------------->
            @*
            @if (Model != null)
            {
                @foreach (var tour in Model.tourList)
                {
                    <div class="col col-content-1">
                        <img src=@tour.imagesUrl>
                        <div class="place-body place-1">
                            <h3 class="place-heading">
                                
                                <a asp-route="tour/detail" asp-route-id="@tour.tourId">@tour.TourName</a>
                            </h3>
                            <ul class="place-content">
                                @tour.Summary
                            </ul>
                            
                            <p class="tour-price"> @tour.Price</p>
                        </div>
                    </div>
                }
            }*@

            <div class="col col-content-1">
                <img src="~/image/image-tour-1.png" alt="" class="place-img">
                <div class="place-body place-1">
                    <h3 class="place-heading">
                        <a href="">Tour Phú Quốc - Kỳ Co - Eo Gió</a>
                    </h3>
                    <ul class="place-content">
                        <li class="place-content-item">Bãi tắm Kỳ Co</li>
                        <li class="place-content-item">Eo Gió</li>
                    </ul>
                    @*Sau này lấy giá trị trong Models ra thay thành biến*@
                    <p class="tour-price"> 1.550.000 VND</p>
                </div>
            </div>

            <div class="col col-content-2">
                <img src="~/image/image-tour-2.png" alt="" class="place-img">
                <div class="place-body place-2 ">
                    <h3 class="place-heading">
                        <a href="">Tour khám phá Đà Nẵng - Sơn Trà - Hội An - Bà Nà</a>
                    </h3>
                    <ul class="place-content">
                        <li class="place-content-item">Bán đảo Sơn Trà</li>
                        <li class="place-content-item">Phố cổ Hội An</li>
                        <li class="place-content-item">Cầu Rồng</li>
                        <li class="place-content-item">Bà Nà Hill</li>
                    </ul>
                    @*Sau này lấy giá trị trong Models ra thay thành biến*@
                    <p class="tour-price">2.930.000 VND</p>
                </div>
            </div>

            <div class="col col-content-3">
                <img src="~/image/image-tour-3.png" alt="" class="place-img">
                <div class="place-body place-3">
                    <h3 class="place-heading">
                        <a href="">Tour Đà Lạt - Thung Lũng Tình Yêu - Dinh Bảo Đại</a>
                    </h3>
                    <ul class="place-content">
                        <li class="place-content-item">Thung lũng Tình yêu</li>
                        <li class="place-content-item">Dinh Bảo Đại</li>
                    </ul>
                    @*Sau này lấy giá trị trong Models ra thay thành biến*@
                    <p class="tour-price">1.070.000 VND</p>
                </div>
            </div>
        </div>
        <a asp-area="public" asp-controller="Tour" asp-action="Index" class="more-button">Xem thêm</a>
    </div>
    @*End HOT Place*@
</div>
@*------End Tour --------*@









