/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/*CSS NAVBAR-MIDDLE*/
.navbar-nav{
    display: inline-block;
}

.navbar-nav li{
    position: relative;
}

.navbar-nav > li{
    display: inline-block;
}
/*Line stretch*/
.navbar-nav li a {
    line-height: 50px;
    padding: 0px 100px;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
    color: black; 
}
/*LỖI CHƯA SỬA ĐƯỢC HOVER*/
.navbar-nav > .nav-item:hover > .nav-link {
    color: #00ffff;
}
.nav-item {
    margin: 0px 40px;
}
.navbar-nav{
    padding-right: 200px;
}
 

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/*Search button*/
.navbar-middle .search-btn {
    float: right;
    cursor: pointer;
    margin-top: 35px;
    position: absolute;
    display: inline-block;
    margin-left: -75px;
    z-index: 1;
}
.navbar-middle .fa-solid {
    color: black;
    font-size: 21px;
    line-height: 36px;
}
/*Hover search button*/
.navbar-middle .search-btn:hover {
    background-color: #D9D9D9;
    opacity: 0.2;
    border-radius: 5px;
}
/*CSS login button*/
.navbar-middle .button {
    background-color: #00C9FC;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
 /*CSS footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 1519px;
    height: 130px;
    white-space: nowrap;
    background: #292929; 
}
.footer .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color:white;
}
