
@{
    ViewData["Title"] = "Index";
}
                                                                    <!--TRIP-LIST-->
@model TripViewModel
<body>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title" style="margin-left: 500px;">DANH SÁCH CHUYẾN ĐI</h2>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="trip" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Trip ID</th>
                                <th>Ngày bắt đầu</th>
                                <th>Số lượng</th>
                             
                                <th>Tính năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model.tripList)
                            {
                            <tr>
                            <td>@item.TripId</td>
                            <td>
                            @item.DayStart
                            </td>
                            <td> @item.Capacity</td>
                            <td>
                                        <a asp-area="Admin" asp-controller="Trip" asp-action="Edit" asp-route-id=@item.TripId class="edit" title="Sửa" style="margin-right:10px;">
                                            Sửa
                                        </a>
                                        <a asp-area="Admin" asp-controller="Trip" asp-action="Delete" asp-route-id=@item.TripId class="delete" title="Xóa">
                                            Xoá
                                        </a>
                            </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>

</body>

