@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/ForgotPassword.css" rel="stylesheet" />
<section>
    <!--Begin Content-->
    <div class="forgot-password-content">
        <div class="form">

            <h2>Đổi mật khẩu</h2>

            <form action="">
                <div class="input-form">
                    <input type="text" name="" placeholder="Mật khẩu mới">
                </div>
                <div class="input-form">
                    <button class="sign-up-button">Đổi mật khẩu  </button>
                </div>
                @*Link page Đăng nhập vô*@
                <div class="input-form">
                    <p>Trở lại trang <a asp-route="user/login"> Đăng Nhập</a></p>
                </div>
            </form>
        </div>
    </div>
    <!--End content-->
</section>
