@{
    ViewData["Title"] = "Sửa thông tin User";
}
                                                    <!--EDIT-USER-->
@model EditUserViewModel
<div class="card card-primary">
    <!-- /.card-header -->
    <!-- form start -->

    <form method="post">
        <div class="card-body">
            
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" value=@((@Model.Email==null)?"":@Model.Email)>
            </div>

            <div class="form-group">
                <label for="Phone">Số điện thoại</label>
                <input type="tel" class="form-control" id="Phone" name="Phone" value="@Model.Phone">
            </div>

            <div class="form-group">
                <label for="Username">Tên người dùng</label>
                <input type="text" class="form-control" id="Username" name="Username" value=@((@Model.Username==null)?"":@Model.Username)>
            </div>
            <div class="form-group">
                <label for="Address">Địa chỉ</label>
                <input type="text" class="form-control" id="Address" name="Address" value=@((@Model.Address==null)?"":@Model.Address)>
            </div>
            <div class="form-group">
                <label for="Password">Mật khẩu</label>
                <input type="password" class="form-control" id="Password" name="Password" value="" placeholder="**********">
            </div>

        </div>

        <!-- /.card-body -->
        @*Lưu*@
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </form>
</div>

