@{
    ViewData["Title"] = "User";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    // Nếu layout không hiển thị thì xoá cmt dòng trên
}
                                                    <!--USER-LIST-->
@*@model UserViewModel*@
@model UserComponent
<body>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title" style="margin-left: 500px;">DANH SÁCH USER</h2>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="user" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Username</th>

                                <th>Địa chỉ</th>
                                <th>Tính năng</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Email</td>
                                    <td>
                                        @item.Phone
                                    </td>
                                    <td> @item.Username</td>
                                    <td> @item.Address</td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="User" asp-action="Edit" class="edit" title="Sửa" style="margin-right:10px;">
                                            Sửa
                                        </a>
                                        <a href="#" class="delete" title="Xóa">
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>

</body>

