@{
    ViewData["Title"] = "Quản lý lịch khách đã đặt";
}

                                                            <!--BOOKING-LIST-->
@model BookingViewModel
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title" style="margin-left: 500px;">DANH SÁCH BOOKING</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Mã đơn đặt</th>
                            <th>Tên Tour</th>
                            <th>Người đặt</th>
                            <th>Tình trạng</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.BookingList)
                        {
                            <tr>
                                <td> @item.BookingId </td>
                                <td> @item.TourName </td>
                                <td> @item.Username</td>
                                <td> @(item.IsPaid? "Đã thanh toán" : "Chưa thanh toán")</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="Booking" asp-action="Edit" asp-route-id=@item.BookingId class="edit" title="Sửa" style="margin-right:10px;">
                                        Sửa
                                    </a>
                                    <a asp-area="Admin" asp-controller="Booking" asp-action="Delete" asp-route-id=@item.BookingId class="delete" title="Xóa">
                                        Xoá
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


