@{
	ViewData["Title"] = "Tour Detail";
}

<link href="~/css/tourdetail.css" rel="stylesheet" />
<link href="~/font/fontawesome-free-6.2.0-web/css/all.css" rel="stylesheet" />
<link href="~/font/fontawesome-free-6.2.0-web/css/all.min.css" rel="stylesheet" />

<html>
<div class="tour-detail-banner"></div>   @*Banner*@
@*Begin: Search tour box*@
<div class="box-tour">
	<div class="box-search-tour">
		<div class="form-group">
			<input type="text" placeholder="Nhập thành phố, địa điểm du lịch" class="search-input-field">
			<i class="fa-solid fa-location-dot"></i>
		</div>
		<a href="#" class="btn btn-blue search-tour-button">Tìm kiếm</a>
	</div>
</div>
@*End: Search tour box*@

@*Breadcrumb*@
<ul class="breadcrumb">
	<li><a href="#">Trang chủ</a></li>
	<li><a href="#">Du lịch</a></li>
	<li>Tour du lịch Đà Nẵng</li>
</ul>

@*Tour detail*@
<div class="tour-detail-section">
	<h2 class="tour-title">Tour khám phá Đà Nẵng - Sơn Trà - Hội An - Bà Nà</h2>
	<div class="tour-container">
		<div class="tour-content">
			<div class="tour-cover"></div>
			<div class="tour-info-belowCover">
				<div class="content-belowCover">
					<span class="tour-placename">
						<i class="fa-solid fa-location-dot"></i>
						Đà Nẵng
					</span>
					<span class="tour-time">
						<i class="fa-solid fa-clock"></i>
						3 Ngày 2 Đêm
					</span>
					<span class="tour-transports">
						Phương tiện:
						<i class="fa-solid fa-train-subway"></i>
						<i class="fa-solid fa-ship"></i>
					</span>
					<div class="tour-code">
						Mã tour:
						<b class="text-blue">T12510</b>
					</div>
				</div>
			</div>
			<div class="outstanding-place-content">
				<div class="pad-15-25">
					<h3 class="fw-bold">Địa điểm nổi bật</h3>
					<ul>
						<li>Hội An với Chùa Cầu Nhật Bản</li>
						<li>Nhà Cổ hàng trăm năm tuổi</li>
						<li>Hội Quán Phước Kiến & Xưởng thủ công mỹ nghệ.</li>
						<li>Lưu lại những bức ảnh để đời ở cầu Bàn Tay Vàng trên Bà Nà Hills</li>
					</ul>
				</div>
			</div>
			<div class="margin-top-10 tour-detail-content">
				<div class="pad-15-25">
					<h3 class="fw-bold">Chi tiết tour</h3>
					<div class="pad-left-18">
						<h5 class="fw-bold text-blue">NGÀY 01: ĐÓN KHÁCH – SƠN TRÀ - ĐÀ NẴNG (ĂN TRƯA, TỐI)</h5>
						<p><strong>Sáng:</strong> Đón quý khách tại Đà Nẵng (Sân bay, Ga, điểm hẹn trung tâm) từ 07h00 đến 13h00 (Sau thời gian này, quý khách tự túc nhập đoàn). Xe đưa đi ăn trưa đặc sản nổi tiếng Đà Nẵng “Bánh tráng thịt heo 2 đầu da & Mỳ Quảng”.</p>
						<p>Nhận phòng Khách sạn 3* nghỉ ngơi.</p>
						<p><strong>Chiều:</strong> Khởi hành đến Bán Đảo Sơn Trà – Rừng già giữa lòng phố trẻ viếng Linh Ứng Tự - nơi có tượng Phật Bà 67m hướng ra biển Đông.</p>
						<p>Tự do trải nghiệm Công viên Châu Á - Asia Park Đà Nẵng là sự kết hợp những nét độc đáo, mới lạ của các mô hình giải trí trên thế giới với những nét văn hóa đặc sắc đậm chất Á Đông.</p>
						<h5 class="fw-bold text-blue">NGÀY 02: NGŨ HÀNH SƠN – PHỐ CỔ HỘI AN (ĂN SÁNG, TRƯA, TỐI)</h5>
						<p><strong>Sáng:</strong> Điểm tâm. Vòng qua Cầu Rồng lưu lại dấu ấn trên Cầu Tình Yêu, tản bộ thưởng thức không khí trong lành bên bờ Hàn Giang với tượng Cá Chép Hóa Long - Biểu tượng mong muốn vươn lên của người Đà Nẵng.</p>
						<p>Tham quan Cụm danh thắng di tích Ngũ Hành Sơn và Làng Nghề Điêu Khắc Đá. Mua sắm đặc sản Quà Miền Trung.</p>
						<p><strong>Trưa:</strong> Ăn trưa nhà hàng.</p>
						<p><strong>Chiều:</strong> Khởi hành vào Hội An bách bộ tham quan và mua sắm Phố Cổ với: Chùa Cầu Nhật Bản, Nhà Cổ hàng trăm năm tuổi, Hội Quán Phước Kiến & Xưởng thủ công mỹ nghệ.</p>
						<p>Khởi hành về lại Đà Nẵng.</p>
						<p><strong>Tối:</strong> Ăn tối nhà hàng. Tự do thưởng ngoạn du thuyền trên sông Hàn ngắm cảnh Đà Thành về đêm, chụp ảnh Cầu Quay Sông Hàn, cầu Rồng phun lửa và nước vào cuối tuần.</p>
						<h5 class="fw-bold text-blue">NGÀY 03: BÀ NÀ (ĂN SÁNG, TRƯA)</h5>
						<p>
							<strong>Sáng:</strong> Điểm tâm. Trả phòng. Khởi hành đi Bà Nà - Núi Chúa (Tự túc chi phí Option Bà Nà theo giá của Sun Group)
							<br />
							Quý khách sẽ tận hưởng cảm giác bồng bền khi ngồi trên Cabin lơ lững giữa chừng mây. Viếng chùa Linh Ứng với tượng Phật Thích Ca cao 27m, viếng đền thờ Bà Chúa Mẫu Thượng Ngàn. Tham quan Cầu vàng - HOT Cây cầu độc đáo nằm trong vườn Thiên Thai ở Bà Nà Hill - được xây dựng trên độ cao 1.400m so với mặt nước biển, cây cầu gồm 8 nhịp và có độ dài là 150m. Cây cầu được nâng đỡ bởi đôi bàn tay khổng lồ. Người đi như lạc giữa tiên cảnh nơi có mây, trời bao la.
							<br />
							Tham gia vui chơi tại công viên Fantasy Park: với các trò chơi phiêu lưu mới lạ như: Vòng Quay Tình Yêu, Phi Công Skiver, Đường Đua Lửa, Ngôi Nhà Ma và Khu trưng bày hơn 40 tượng sáp những nhân vật nổi tiếng trên thế giới.
						</p>
						<p><strong>Trưa:</strong> Ăn trưa nhà hàng.</p>
						<p><strong>Chiều:</strong> Tiễn quý khách ra sân bay Đà Nẵng.</p>
						<p class="tour-note">Thứ tự tham quan có thể thay đổi cho phù hợp với tình hình thực tế nhưng vẫn đảm bảo đầy đủ điểm trong chương trình.</p>
					</div>
				</div>
			</div>
			<div class="margin-top-10 comment">
				<div class=pad-15-25>
					<p class="fw-bold comment-title">Đánh giá khách hàng về trải nghiệm tour du lịch</p>
					<div class="customer-review-detail-container">
						<div class="customer-review-detail">
							<div class="horizontal-line"></div>
							<div class="review-info-container">
								<div class="margin-top-10 customername-date">
									<p class="fw-bold customer-name">Ngô Bình Du</p>
									<p class="comment-date">02/10/2022</p>
								</div>
								<p class="comment-content">Trải nghiệm vô cùng tuyệt vời</p>
							</div>
						</div>
						<div class="customer-review-detail">
							<div class="horizontal-line"></div>
							<div class="review-info-container">
								<div class="margin-top-10 customername-date">
									<p class="fw-bold customer-name">Nguyễn Văn Dân</p>
									<p class="comment-date">05/10/2022</p>
								</div>
								<p class="comment-content">Khách sạn sạch sẽ và đầy đủ tiện nghi </p>
							</div>
						</div>
						<div class="customer-review-detail">
							<div class="horizontal-line"></div>
							<div class="review-info-container">
								<div class="margin-top-10 customername-date">
									<p class="fw-bold customer-name">Trần Gia Khang</p>
									<p class="comment-date">11/10/2022</p>
								</div>
								<p class="comment-content">Hướng dẫn viên tận tình, chỗ ở khá sạch sẽ</p>
							</div>
						</div>
						<div class="customer-review-detail">
							<div class="horizontal-line"></div>
							<div class="review-info-container">
								<div class="margin-top-10 customername-date">
									<p class="fw-bold customer-name">Phạm Thị Linh</p>
									<p class="comment-date">11/10/2022</p>
								</div>
								<p class="comment-content">Tuyệt vời</p>
							</div>
						</div>
						<div class="customer-review-detail">
							<div class="horizontal-line"></div>
							<div class="review-info-container">
								<div class="margin-top-10 customername-date">
									<p class="fw-bold customer-name">Lưu Ngọc Nga</p>
									<p class="comment-date">11/10/2022</p>
								</div>
								<p class="comment-content">Sàn hơi dơ, còn lại thì đều tốt</p>
							</div>
						</div>
					</div>
					<div class="showmore">
						<a href="#" class="btn btn-blue showmore-button">Xem thêm</a>
					</div>
				</div>
			</div>
		</div>
		<div class="sidebar-content">
			<div class="tour-form-price">
				<div id="tour-sidebar" class="affix-top">
					<div class="upper-sidebar">
						<div class="booking-box">
							<form action="">
								<div class="input-form">
									<label>Ngày khởi hành</label>
									<input type="datetime" name="dateField" placeholder="Chọn ngày">
								</div>
								<div class="input-form">
									<label>Số khách</label>
									<input type="text" name="" placeholder="Nhập số khách">
								</div>
								<div class="input-form">
									<button class="sign-up-button">Đăng Kí </button>
								</div>
							</form>
							
						</div>
					</div>
					<div class="lower-sidebar"></div>
				</div>
			</div>
			
		</div>
	</div>
	
</div>
</html>



