@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Đăng kí";
}
@model SignUpViewModel
<link href="~/css/SignUp.css" rel="stylesheet" />
<section>
    <!--Begin Content-->
    <div class="register-content">
        <div class="form">

            <h2>Đăng kí</h2>

            <form method="post" action="">
                <div class="input-form">
                    @*Username???*@
                    <input type="text" name="Phone" placeholder="Số điện thoại">
                </div>
                <div class="input-form">

                    <input type="password" name="Password"  placeholder="Mật khẩu">
                </div>

                <div class="input-form submit">
                    <input type="submit" value="Đăng kí" />
                </div>
                @*Link page Đăng kí vô*@
                <div class="input-form">
                    <p>Bạn Đã Có Tài Khoản? <a asp-area="Public" asp-controller="User" asp-action="LogIn"> Đăng Nhập</a></p>
                </div>
            </form>
        </div>
    </div>
    <!--End content-->
</section>
